{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block title %}MACS{% endblock title %}

{% block content %}
{% addtoblock "css" %}
<link rel="stylesheet" href="{{ STATIC_URL }}macs/macs.css" />
{% endaddtoblock %}		

  <div class="macs-navbar">
  <button id="macs-nav-toggle">&#9776; MACS</button>
  <nav id="macs-nav">
    <ul>
	  <li><a href="{% url 'macs_home' %}">MACS Home</a></li>
      <li>
	    <a href="{% url 'macs.views.member_list' %}">Members</a>
        <ul>
          <li><a href="{% url 'macs.views.member_create' %}">New Member</a></li>
          <li><a href="{% url 'macs.views.keycard_manage_all' %}">Manage Keycards</a></li>
        </ul>
	  </li>
	  <li>
        <a href="{% url 'macs.views.resource_list' %}">Resources</a>
        <ul>
          <li><a href="{% url 'macs.views.resource_create' %}">New Resource</a></li>
        </ul>
      </li>
	  <li>
        <span>Reports</span>
        <ul>
          <li><a href="{% url 'macs.views.report_access_log' %}">Resource Access Log</a></li>
          <li><a href="{% url 'macs.views.report_activity_log' %}">Admin Activity Log</a></li>
        </ul>
	  </li>
	  <li><a href="{% url 'macs.views.schedule_show' %}">Schedule</a></li>
    </ul>
  </nav>	
  </div>
  
  <div class="macs-content">
    {% block macs_messages %}
       <div id="macs-message-area">
       {% for m in messages %}
          <p{% if m.tags %} class="{{ m.tags }}"{% endif %}>{{ m }}</p>
       {% endfor %}
       </div>
    {% endblock macs_messages %}
  
	{% block macs_content %}
	{% endblock macs_content %}
  </div>
  <div class="clearfix"></div>

{% addtoblock "js" %}  
<script type="text/javascript">
$(document).ready( function($) {
  $('#macs-nav-toggle').click(function() {
    var el = $('#macs-nav');
	if( el.hasClass('macs-menu-expanded') ) {
	  el.removeClass('macs-menu-expanded');
	}
	else {
	  el.addClass('macs-menu-expanded');
	}
  });
});
</script>
{% endaddtoblock %}		
  
{% endblock content %}
