{% extends "macs/base.htm" %}

{% block macs_content %}
<h1>Makerspace Access Control System (MACS)</h1>

<p>The access control system provides access to the various resources of the makerspace, including main door entry.
Access cards are provided to members once they have paid their membership dues and attended an orientation and training
session at the space.</p>

<p>Most of the links here are restricted to a small group of people that manage user accounts and resource access.</p>

{% endblock macs_content %}
