{% extends "macs/base.htm" %}

{% block content %}

<h1>Upload Keycards</h1>

<p>Keycards can be uploaded in CSV (comma-separated values) format. The format is &quot;keycard_id,comment&quot; - any CSV
fields other than the first 2 are ignored. The &quot;keycard_id&quot; is a hexadecimal string and the comment can be blank. The
parser skips the first line of the file as it is assumed to be headers.</p>

<form method="post" enctype="multipart/form-data">
{% csrf_token %}

<p class="form_errors">{{ form.non_field_errors }}</p>

<table class="padded">
<tr><th>{{ form.csv_file.label }}</th><td>{{ form.csv_file }}</td><td>{{ form.csv_file.errors }}</td></tr>
</table>

<p><input type="submit" value="Upload" /></p>

</form>

{% endblock content %}
