{% extends "macs/base.htm" %}

{% block content %}

<h1>Makerspace Members</h1>

<p>All members are listed here (including expired ones, for the moment - need to have an option to enable/disable expired).</p>

<ul>
  <li><a href="{% url 'macs.views.member_create' %}">Create a new member</a></li>
</ul>

{% if members %}
	<table class="fullwidth padded">
	<tr><th>ID</th><th>Last Name</th><th>First Name</th><th>Type</th><th>Keycard</th><th>Expires</th><th>&nbsp;</th></tr>
	{% for m in members %}
		<tr class="{% cycle 'odd' 'even' %}"><td><a href="{% url 'macs.views.member_view' m.id %}">{{ m.id }}</a></td>
		   <td>{{ m.last_name }}</td><td>{{ m.first_name }}</td><td>{{ m.get_membership_type_display }}</td><td>{{ m.keycard }}</td><td>{{ m.expires }}</td>
		   <td><a href="{% url 'macs.views.member_edit' m.id %}">edit</a></td>
		   </tr>
	{% endfor %} 
	</table>

{% else %}
  <p class="note">No members yet.</p>
{% endif %}

{% endblock content %}
