{% extends "macs/base.htm" %}

{% block macs_content %}

<h1>Makerspace Members</h1>

<p>Currently showing <b>{{ which }}</b> members.</p>

<ul>
{% if which != 'all' %}<li><a href="{{ request.path }}?w=all">Show All Members</a></li>{% endif %}
{% if which != 'active' %}<li><a href="{{ request.path }}?w=active">Show Only Active Members</a></li>{% endif %}
{% if which != 'expired' %}<li><a href="{{ request.path }}?w=expired">Show Only Expired Members</a></li>{% endif %}
</ul>

{% if members %}
	<table class="fullwidth padded">
	<tr><th>Last Name</th><th>First Name</th><th>Type</th><th>Keycard(s)</th><th>Expires</th><th>&nbsp;</th><th>&nbsp;</th></tr>
	{% for m in members %}
		<tr class="{% cycle 'odd' 'even' %}">
		   <td>{{ m.last_name }}</td><td>{{ m.first_name }}</td><td>{{ m.get_membership_type_display }}</td>
		   <td>{{ m.get_keycard_list|join:" / "|default:"&nbsp;" }}</td>
		   <td><span{% if m.is_expired %} class="warning"{% endif %}>
		   {% if m.does_not_expire %}<span style="color:#ff8000;">never</span>{% else %}{{ m.expires }}{% endif %}</span></td>
		   <td class="acenter"><a href="{% url 'macs:member_view' m.id %}"><img class="macs-icon" src="{{ STATIC_URL }}macs/view-32x32.png" alt="view" /></a></td>
		   <td class="acenter"><a href="{% url 'macs:member_edit' m.id %}"><img class="macs-icon" src="{{ STATIC_URL }}macs/edit-32x32.png" alt="edit" /></a></td>
		   </tr>
	{% endfor %} 
	</table>

{% else %}
  <p class="note">Nothing to show.</p>
{% endif %}

{% endblock macs_content %}
