{% extends "macs/base.htm" %}

{% block macs_content %}
<h1>Member: {{ member.get_full_name }}</h1>
<h3>Add Resource Access</h2>

<form method="post">
{% csrf_token %}

<p class="form_errors">{{ form.non_field_errors }}</p>

<table class="padded">
<tr><th>{{ form.trainer.label }}</th><td>{{ form.trainer }}</td><td>{{ form.trainer.errors }}</td></tr>
<tr><th>{{ form.comment.label }} (optional)</th><td>{{ form.comment }}</td><td>{{ form.comment.errors }}</td></tr>
<tr><th colspan="2">Available Resources</th><td></td></tr>
{% for r in form.get_resource_fields %}
   <tr><th>{{ r.label }}</th><td class="acenter">{{ r }}</td><td>{{ r.errors }}</td></tr>
{% endfor %}
</table>

<p><input type="submit" value="Add Resource(s)" />
   <span style="padding-left:15px;"><a href="{% url 'macs.views.member_view' member.id %}">Cancel</a></span></p>
</form>

<h2>Current Resources</h2>

<table class="padded">
   <tr><th>ID</th><th>Name</th><th>Description</th></tr>
{% for r in member.resources.all %}
   <tr class="{% cycle 'odd' 'even' %}"><td>{{ r.id }}</td><td>{{ r.name }}</td><td>{{ r.description }}</td></tr>
{% endfor %}
</table>

{% endblock macs_content %}
