{% extends "macs/base.htm" %}
{% load sekizai_tags %}

{% block macs_content %}

<h1>Create a New Account</h1>

<form method="post">
{% csrf_token %}

<p class="form_errors">{{ form.non_field_errors }}</p>

<table class="padded">
<tr><th>{{ form.first_name.label }}</th><td>{{ form.first_name }} {{ form.first_name.errors }}</td></tr>
<tr><th>{{ form.last_name.label }}</th><td>{{ form.last_name }} {{ form.last_name.errors }}</td></tr>
<tr><th>{{ form.email.label }}</th><td>{{ form.email }} {{ form.email.errors }}</td></tr>
<tr><th>{{ form.username.label }}</th><td>{{ form.username }} {{ form.username.errors }}</td></tr>
<tr><th>{{ form.membership_type.label }}</th><td>{{ form.membership_type }} {{ form.membership_type.errors }}</td></tr>
<tr><th>{{ form.expires.label }}</th><td>{{ form.expires }} <button id="set3months">3 Mos</button><button id="set1year">1 Yr</button>{{ form.expires.errors }}</td></tr>
<tr><th>{{ form.incognito.label }}</th><td>{{ form.incognito }} {{ form.incognito.errors }}</td></tr>
<tr><th>{{ form.billing_id.label }}</th><td>{{ form.billing_id }} (leave blank for now) {{ form.billing_id.errors }}</td></tr>
<tr><th style="vertical-align:top;">{{ form.comments.label }}</th><td>{{ form.comments }} {{ form.comments.errors }}</td></tr>
</table>

<fieldset>
<legend>Keycard Assignment</legend>
   <p class="form_errors">{{ keycard_form.non_field_errors }}<p>
   <table class="padded">
     <tr><th>Action</th><td>{{ keycard_form.action }}</td><td>{{ keycard_form.action.errors }}</td></tr>
     <tr id="new_keycard_row"><th>New Keycard Number</th><td>{{ keycard_form.number }}</td><td>{{ keycard_form.number.errors }}</td></tr>
     <tr id="select_keycard_row"><th>Select Keycard</th><td>{{ keycard_form.select_keycard }}</td><td>{{ keycard_form.select_keycard.errors }}</td></tr>
   </table>
</fieldset>


<p><input type="submit" value="Create Account" /></p>

</form>

{% addtoblock "js" %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
<script type="text/javascript">
$(document).ready( function() {
	var el_first = $('#id_first_name');
	var el_last = $('#id_last_name');
	var el_expires = $('#id_expires');
	var new_key_row = $('#new_keycard_row');
	var sel_key_row = $('#select_keycard_row');
	var username_modified = false;
	new_key_row.hide();
	sel_key_row.hide();
	el_expires.datepicker({dateFormat:'yy-mm-dd'});

	function update_username(evt) {
		var first = el_first.val().trim();
		var last = el_last.val().trim();
		if(first.length && last.length && !username_modified) {
			$('#id_username').val(first.substr(0,1).toLowerCase()+last.toLowerCase());		
		}
	}
	$('#id_action').on('change', function() {
		var val = parseInt($('#id_action').val());
		if( val == 1 ) {
			new_key_row.show()
			sel_key_row.hide()
		}
		else if( val == 2 ) {
			new_key_row.hide()
			sel_key_row.show()
		}
		else {
			new_key_row.hide()
			sel_key_row.hide()
		}
	});
	$('#set3months').on('click', function(evt) {
		evt.preventDefault();
		var c = moment();
		c.add(3,'months');
		el_expires.val(c.format('YYYY-MM-DD'));
	});
	$('#set1year').on('click', function(evt) {
		evt.preventDefault();
		var c = moment();
		c.add(1,'years');
		el_expires.val(c.format('YYYY-MM-DD'));
	});
	el_first.on('change',update_username);
	el_last.on('change',update_username);
	$('#id_username').on('change',function() {username_modified=true;});
});
</script>
{% endaddtoblock %}

{% endblock macs_content %}
