{% extends "macs/base.htm" %}

{% block macs_content %}

<ul>
</ul>

<h2>Member Info</h2>

<table class="padded">
<tr class="odd"><th>ID</th><td>{{ member.id }}</td></tr>
<tr class="even"><th>First Name</th><td>{{ member.first_name }}</td></tr>
<tr class="odd"><th>Last Name</th><td>{{ member.last_name }}</td></tr>
<tr class="even"><th>User ID</th><td>{{ member.username }}</td></tr>
<tr class="odd"><th>Email</th><td>{{ member.email }}</td></tr>
<tr class="even"><th>Expires</th><td>{{ member.expires }}</td></tr>
<tr class="odd"><th>Incognito</th><td>{{ member.incognito }}</td></tr>
</table>

<p><span class="boldface">Comments:</span><br />
<textarea rows="8" cols="70" readonly="readonly" disabled="disabled">{{ member.comments }}</textarea>
</p>

<p><a href="{% url 'macs.views.member_edit' member.id %}">Edit member info</a></p>

<h2>Keycards</h2>
<table class="padded">
   <tr><th>ID</th><th>Status</th><th>&nbsp;</th></tr>
{% for card in member.keycard_set.all %}
   <tr class="{% cycle 'odd' 'even' %}"><td>{{ card.number }}</td>
      <td>{% if card.active %}<span style="color:#00ff00;">active</span>{% else %}<span style="color:#ff0000;font-style:italic;">inactive</span>{% endif %}</td>
      <td><a href="{% url 'macs.views.keycard_manage' card.id %}">manage</a></td>
   </tr>
{% endfor %}
</table>

<p><a href="{% url 'macs.views.member_manage_keycards' member.id %}">Assign a Keycard</a></p>
  
<h2>Resources</h2>

<table class="padded">
   <tr><th>ID</th><th>Name</th><th>Description</th><th>&nbsp;</th></tr>
{% for r in member.resources.all %}
   <tr class="{% cycle 'odd' 'even' %}"><td>{{ r.id }}</td><td>{{ r.name }}</td><td>{{ r.description }}</td>
      <td><a href="{% url 'macs.views.remove_resource_access' member.id r.id %}">remove</a></td></tr>
{% endfor %}
</table>

<p><a href="{% url 'macs.views.add_resource_access' member.id %}">Add resources</a></p>  

{% endblock macs_content %}
