{% extends "macs/base.htm" %}

{% block macs_content %}

<h1>Create a New Resource</h1>

<p>Resources are used to allow access to certain Makerspace assets. Every member has the main door
resource added to their account upon creation, but it is expected that all other resources will
require some sort of training before access is granted.</p>

<p>The &quot;Secret&quot; field is the resource key that must be passed as the &quot;X-resource-key&quot; header
when HTTP validation requests are sent to the server.  If left blank, no validation is required.</p>

<p>The &quot;Cost per hour&quot; field is for future expansion to allow the system to track resource usage such that
members can be informed how much in consumables (3D printer material, welding wire/gases, etc) they have used so we
can solicit payments/donations. This field is in dollars.</p>

<form method="post">
{% csrf_token %}

<p class="form_errors">{{ form.non_field_errors }}</p>

<table class="padded">
<tr><th>{{ form.name.label }}</th><td>{{ form.name }}</td><td>{{ form.name.errors }}</td></tr>
<tr><th>{{ form.description.label }}</th><td>{{ form.description }}</td><td>{{ form.description.errors }}</td></tr>
<tr><th>{{ form.secret.label }}</th><td>{{ form.secret }}</td><td>{{ form.secret.errors }}</td></tr>
<tr><th>{{ form.cost_per_hour.label }}</th><td>{{ form.cost_per_hour }}</td><td>{{ form.cost_per_hour.errors }}</td></tr>
</table>

<p><input type="submit" value="Create" /></p>
</form>

{% endblock macs_content %}
